*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 86px;
    background-color: #86120a;
    color: white;
}
h2{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}
h3{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
.box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.box img{
    height: 300px;
    width: 300px;
    cursor: pointer;
}
h4{
    font-size: 40px;
    padding-top: 120px;
    padding-left: 5px;
    padding-right: 5px;
}